
body {
    background-image: url('img/1+1=3.gif');
    background-size: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
}

footer {
    background-color: rgba(0, 0, 0, 0.792);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.6rem;
    height: 2rem;
    margin-top: 0.5rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem 1rem;
    background-color: #2aab1300;
    color: white;
    height: 20rem;
    flex-basis: calc(33% - 6rem);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo {
    text-align: center;
    background-color: rgba(136, 255, 0, 0.264);
    height: 100%;
    width: 100%;
    padding: 1rem;
    transform: rotateY(0);
}

.cartao__conteudo h3 {
    background-color: rgb(255, 0, 0);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size:  1vw;
    }

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}


.r {
    color: rgb(255, 255, 255);
    background-color: red;
    padding:0.7rem;
    position: absolute;
    margin:0.6rem;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
    }
    .cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
    }